<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calvin.cs262.shuffleboard" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DynamicEventView"
            android:label="Dynamic Event View" >
        </activity>
        <activity
            android:name=".StaticEventView"
            android:label="Static Event View" >
        </activity>
        <activity
            android:name=".CreateDynamicEvent"
            android:label="Create Dynamic Event" >
        </activity>
        <activity
            android:name=".CreateStaticEvent"
            android:label="Create Static Event" >
        </activity>
    </application>

</manifest>
